<% if flash.any? %>
  <% flash.each do |_, message|%>
    <p><%= message%></p>
  <% end %>
<% end %>

<h1>Update information</h1>
<%= link_to "Homepage", root_path %>

<%= render "form", kitten: @kitten %>

<%= button_to "Delete this kitten", @kitten, method: :delete %>
