<% if flash.any? %>
  <% flash.each do |_, message|%>
    <p><%= message%></p>
  <% end %>
<% end %>

<h1>Kittens</h1>

<table>
  <thead>
    <th>
      <td>Name</td>
    </th>
  </thead>

  <tbody>
    <% @kittens.each do |kitten| %>
      <tr>
        <td><%= link_to kitten.name, kitten %></td>
        <td><%= button_to "Remove this kitten", kitten_path(kitten.id), method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a new kitten", new_kitten_path %>
